<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023091135644-s0npqcoanuqov9bgvr3u59b4f24ih7u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023091135644-s0npqcoanuqov9bgvr3u59b4f24ih7u2</string>
	<key>API_KEY</key>
	<string>AIzaSyDZByQqivyZyxnx4oX-HYY3Eu0sAN2Koyw</string>
	<key>GCM_SENDER_ID</key>
	<string>1023091135644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>crystal.bites.crystal</string>
	<key>PROJECT_ID</key>
	<string>crystal-2ab9d</string>
	<key>STORAGE_BUCKET</key>
	<string>crystal-2ab9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023091135644:ios:d1bf15d7622ec8eb748959</string>
</dict>
</plist>